In [9]:
class number:
    def sum(self):
        return self.a + self.b

In [10]:
num = number()
num.a=34
num.b=22
s = num.sum()
print(s)

56

In [25]:
class Empolyee:
    company ="wiproo"
    salary =200

In [26]:
harry = Empolyee()
rajni = Empolyee()
harry.salary =33

In [27]:
print("harry.company")
print("rajni.company")
Empolyee.company= "youtube"
print(harry.company)
print(rajni.company)
print(harry.salary)
print(rajni.salary)

harry.company
rajni.company
youtube
youtube
33
200

In [ ]:
#INSTANCE CLASS

In [21]:
class Employee:
    company = "Google"
    salary = 100

In [22]:
harry = Employee()
rajni = Employee()

In [30]:
harry.salary = 45
print(harry.salary)
print(rajni.salary)

45
200

In [ ]:
#self pay

In [28]:
class Employee:
    company = "Google"
    def getSalary(self):
        print(f"Salary for this employee working in {self.company} is {self.salary}")

In [29]:
harry = Employee()
harry.salary = 100000
harry.getSalary()

Salary for this employee working in Google is 100000

In [44]:
#create a class programer for stroring information of few programer working and microsoft

In [45]:
class member:
    company = "microsoft"
    salary = 200

In [46]:
harry.member()
rajni.member()
swati.member()
ruhi.member()
print(harry.salary)
rajni.salary = 400
swati.salary = 700

AttributeError: 'Employee' object has no attribute 'member'

In [41]:
harry.salary = 500
rajni.salary = 400
swati.salary = 700

NameError: name 'swati' is not defined

In [42]:
print(harry.salary)
print(rajni.salary)
print(swati.salary)

500
400

NameError: name 'swati' is not defined